APP_NAME=
# TAG with your version app
APP_TAG=
# development or production
APP_MODE=

# Unix User
APP_USER=

# network
APP_NETWORK=
# container name
CONTAINER_NAME=
# app real path
APP_PATH=
# app container docker path also this will be container workdir
DOCKER_PATH=
# dockerfile location path
DOCKERFILE=
# port app running
PORT_APP=
# location .env file
ENV_FILE_PATH=